.tool-container {
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 3px;
    text-align: center;
  }
  .tool-container:hover {
    background: rgb(50, 50, 50);
  }
  .tool-container--selected {
    background: rgb(130, 130, 130);
  }
  
  .brush-size-indicator {
    position: relative;
    border-radius: 50px;
    display: block;
    color: white;
  }
  
  .toolbox {
    position: fixed;
    left: 85%;
    top: 20%;
  }
  
  .display {
    border: 1px solid rgb(230, 230, 230);
  }
  
  .pen-size-label {
    font-size: 15px;
  }
  
  .cursor {
    position: absolute;
    color: silver;
    font-family: 'Arial';
    font-size: 10px;
    user-select: none;
    cursor: default;
  }
  
